# GRUB configuration for QuantumSpaceOS boot ISO

set timeout=5
set default=0

# Background image if available
# if background_image set; then

# Menu styling
set menu_color_normal=white/black
set menu_color_highlight=black/white

menuentry "QuantumSpaceOS Live" {
    linux /boot/vmlinuz-linux quiet splash loglevel=3
    initrd /boot/initramfs-linux.img
}

menuentry "QuantumSpaceOS Debug Mode" {
    linux /boot/vmlinuz-linux debug loglevel=7
    initrd /boot/initramfs-linux.img
}

menuentry "System Memory Test" {
    linux /boot/vmlinuz-linux
    initrd /boot/initramfs-linux.img
}
